@import "../../../../styles.scss";

#account-setup {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  align-content: center;

  .stepper-wrapper {
    @include size(70dvw, 60dvh);
    margin: 0 auto;
    background-color: $white-hex;
    padding: 3rem 2rem;
    border-radius: $border-radius;
    overflow-y: auto;

    input{
      border: 1px solid $grey-hex;  
      margin-bottom: 1.5rem  
    }

    .content-1 {
      @include size(100%, 38dvh);
      @include flex(row, space-between, nowrap, start);
      min-height: 38dvh;

      .content-1-left {
        @include flex(column, space-between, nowrap, start);
        width: 35%;

        .content-1-left-top,
        .content-1-left-bottom {
          width: 100%;
        }
      }

      .content-1-right {
        width: 60%;

        .content-1-right-cols {
          @include flex(row, space-between, nowrap, start);
          width: 100%;

          .content-1-right-col {
            width: 32%;
          }
        }
      }
    }

    .content-2,
    .content-3 {
      @include size(100%, 38dvh);
      @include flex(row, space-between, nowrap, start);

      .content-2-block,
      .content-3-block {
        width: 31.5%;
      }
    }

    .content-3 {
      fieldset {
        max-height: 38dvh;
        height: 38dvh;
        overflow-y: auto;
        padding: 0 16px; // cause of the scroller
        position: relative; // allows elements to overflow without clipping

        .add-array-item-btn {
          z-index: 2;
        }

        hr{
          margin: -0.8rem 0 1.5rem;
          height: 2px;
          background-color: $grey-hex;
        }      
      }
    }
  }
}

::ng-deep {
  .p-dropdown,
  .p-inputtext:not(.p-dropdown-label) {
    border: 1px solid $grey-hex;
  }
}

::ng-deep {
  p-dropdown.p-platforms-ddl .p-dropdown {
    margin-bottom: 0.5rem;
  }
}

::ng-deep {
  .p-calendar {
    margin-bottom: 1.5rem;
  }
}


::ng-deep {
  .p-inputtextarea, p-inputmask {
    margin-bottom: 1.5rem;
  }
}