@import '../../../../styles.scss';

.wrapper {
    @include size(100%, 100%);
    @include flex(row, space-between, nowrap, normal);

    .left-block {
        @include size(65%, 100%);

        .base-info {
            @include size(100%, 100px);
            @include flex(row, space-between, nowrap, center);
            text-align: center;
            border-bottom: $border-hr-light;

            .info-block {
                width: 30%;
            }    
        }

        .chart-info {
            padding-top: 1rem;

            .chart-dds {
                @include flex(row, flex-start, nowrap, center);

                .chart-targets-dd {
                    width: 180px;
                }

                .chart-timespans-dd {
                    width: 200px;
                    margin-left: 0.5rem;
                }
            }
            canvas {
                max-width: 100%;
                height: auto !important;
            }
        }
    }

    .right-block {
        @include size(33%, 100%);

        .top-btns {
            @include size(100%, 100px);
            @include flex(row, flex-start, nowrap, center);
            button {
                 &:nth-child(1) {
                    width: 50%;

                    svg {
                        filter: $filter-white;
                    }
                 }
                 &:nth-child(2) {
                    width: 40%;
                    margin-left: 0.5rem;

                    svg {
                        filter: $filter-dark-grey;
                    }
                 }

                svg {
                    @include size(1.2rem, 1.2rem);
                }
            }
        }

        .bottom-data {
            .tabs {
                @include flex(row, flex-start, nowrap, center);

                .tab {
                    cursor: pointer;
                    padding: 0.5rem 0.8rem;
                    text-align: center;

                    &:not(.active) {
                        border-bottom: $border-hr-light;
                    }

                    &.active {
                        border-left: $border-hr-light;
                        border-top: $border-hr-light;
                        border-right: $border-hr-light;
                        border-bottom: none;
                        border-top-left-radius: $border-radius-5;
                        border-top-right-radius: $border-radius-5;
                    }

                    svg {
                        @include size(1.2rem, 1.2rem);
                        filter: $filter-dark-grey;
                    }
                }

                .filler {
                    flex-grow: 1;
                    align-self: stretch;
                    border-bottom: $border-hr-light;
                }
            }

            .data-table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 1rem;
                
                th, td {
                    padding: 0.3rem;
                    text-align: left;

                    &:nth-child(2) {
                        text-align: center;
                    }

                    &:nth-child(3) {
                        text-align: right;
                    }

                    &:nth-child(4) {
                        width: 30px;
                        text-align: center;
                    }
                }
        
                th {
                    background-color: #f4f4f4;
                    font-weight: bold;
                }
        
                td {
                    font-size: 0.95em;
                }
        
                .odd-row {
                    background-color: #f7f7f7;
                }

                .edit-dots {
                    cursor: pointer;
                    color: $blue-hex;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
        
                .edit-menu {
                    position: absolute;
                    background-color: $white-hex;
                    border: $border-hr-light;
                    z-index: 10;
                    width: 150px;
                    margin-left: -130px;
                    padding: 0.5rem 0;
                    text-align: start;
                    align-items: center;
                    border-radius: $border-radius-5;

                    ul {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;

                        li {
                            padding: 0.3rem 0.8rem;
                            cursor: pointer;

                            &:hover {
                                background-color: $light-grey-hex;
                            }

                            svg {
                                @include size(1.2rem, 1.2rem);
                                filter: $filter-dark-grey;

                                &.delete-svg {
                                    filter: $filter-dark-red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

::ng-deep.p-dropdown {
    border: 1px solid $light-grey-2-hex;
}