@import '../../../../styles.scss';

.my-modal {
    .my-modal-body {
        form {
            label {
                width: 15%;
                text-align: end;
            }

            p-calendar,
            .my-input-group {
                width: 80%;
            }
        }
    }
}