<div class="my-backdrop"></div>
<section class="my-modal xs">
    <div class="my-modal-header">
        <h3>{{ modalService.bodyweightGoalModalTypeSignal() === 'add' ? 'Add Bodyweight': 'Edit Bodyweight' }}</h3>
        <i class="pi pi-times-circle" (click)="closeModal()"></i>
    </div>

    <div class="my-modal-body">
        <form [formGroup]="form">

            <span class="p-float-label">
                <input
                type="number"
                id="target-weight"
                pInputText
                formControlName="targetWeight"
                pTooltip="Target weight must be in range from 20 to 1000"
                tooltipPosition="top"
                tooltipEvent="focus"
                [tooltipDisabled]="
                    !(
                    form.get('targetWeight')?.touched &&
                    form.get('targetWeight')?.invalid
                    )
                "
                [ngClass]="{
                    'is-invalid':
                    form.get('targetWeight')?.invalid &&
                    (form.get('targetWeight')?.touched || form.get('targetWeight')?.dirty)
                }"
                />
                <label for="target-weight">Target Weight<app-required-mark/></label>
            </span>

            <span class="p-float-label" style="width: 47%">
                <p-calendar
                    inputId="start-date"
                    formControlName="startDate"
                    dateFormat="dd.mm.yy"
                    appendTo="body"  
                ></p-calendar>
                <label for="start-date">Start Date<app-required-mark/></label>
            </span>

            <span class="p-float-label" style="width: 47%">
                <p-calendar
                    inputId="end-date"
                    formControlName="endDate"
                    dateFormat="dd.mm.yy"
                    appendTo="body"  
                ></p-calendar>
                <label for="end-date">End Date<app-required-mark/></label>
            </span>
        </form>
    </div>

    <div class="my-modal-footer">
        <button class="btn-blue" (click)="submitBodyweightGoal()">
          @if (loaderService.sectionLoaderSignal()) {
            <app-section-loader/>
          }
          @else {
            {{ modalService.bodyweightGoalModalTypeSignal() === 'add' ? 'Add Goal': 'Edit Goal' }}
          }
        </button>
        <button class="btn-grey" (click)="closeModal()">Close</button>
    </div>
</section>