<div class="my-backdrop"></div>
<section class="my-modal sm">
    <div class="my-modal-header">
        <h3>{{ modalService.bodyweightGoalModalTypeSignal() === 'add' ? 'Add Goal': 'Edit Goal' }}</h3>
        <i class="pi pi-times-circle" (click)="closeModal()"></i>
    </div>

    <div class="my-modal-body">
      <form [formGroup]="form">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <label for="target-weight">Bodyweight</label>

            <div class="my-input-group">
              <div class="my-input-group-element">
                <input
                  type="number"
                  id="target-weight"
                  pInputText
                  formControlName="targetWeight"
                  pTooltip="Target weight must be in range from 20 to 1000"
                  tooltipPosition="top"
                  tooltipEvent="focus"
                  [tooltipDisabled]="
                      !(
                      form.get('targetWeight')?.touched &&
                      form.get('targetWeight')?.invalid
                      )
                  "
                  [ngClass]="{
                      'is-invalid':
                      form.get('targetWeight')?.invalid &&
                      (form.get('targetWeight')?.touched || form.get('targetWeight')?.dirty)
                  }"
                />
              </div>
              <div class="my-input-group-addon right">{{ userWeightPreference | measurementUnitDescription }}</div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-2">
            <label for="target-bodyfat">Body Fat</label>
            <div class="my-input-group">
              <div class="my-input-group-element">
                <input
                  type="number"
                  id="target-bodyfat"
                  pInputText
                  formControlName="targetBodyFatPercentage"
                  pTooltip="Target body fat must be in range from 1 to 100"
                  tooltipPosition="top"
                  tooltipEvent="focus"
                  [tooltipDisabled]="
                    !(
                      form.get('targetBodyFatPercentage')?.touched && 
                      form.get('targetBodyFatPercentage')?.invalid
                    )
                  "
                  [ngClass]="{
                    'is-invalid':
                      form.get('targetBodyFatPercentage')?.invalid &&
                      (form.get('targetBodyFatPercentage')?.touched || form.get('targetBodyFatPercentage')?.dirty)
                  }"
                />
              </div>
              <div class="my-input-group-addon right">%</div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-2">
            <label for="start-date">Start Date</label>
            <p-calendar
                inputId="start-date"
                formControlName="startDate"
                dateFormat="dd.mm.yy"
                appendTo="body"  
            ></p-calendar>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <label for="end-date">End Date</label>
            <p-calendar
                inputId="end-date"
                formControlName="endDate"
                dateFormat="dd.mm.yy"
                appendTo="body"  
            ></p-calendar>
          </div>

        </form>
    </div>

    <div class="my-modal-footer">
        <button class="btn-blue" (click)="submitBodyweightGoal()">
          @if (loaderService.sectionLoaderSignal()) {
            <app-section-loader/>
          }
          @else {
            {{ modalService.bodyweightGoalModalTypeSignal() === 'add' ? 'Add Goal': 'Save' }}
          }
        </button>
        <button class="btn-grey" (click)="closeModal()">Close</button>
    </div>
</section>