<div class="wrapper">
    <div class="search">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Search for other users" />
        </p-iconField>

        <button class="btn-blue">Search</button>
        <button class="btn-grey">
            <i class="pi pi-filter-fill"></i>
            Filter
        </button>
    </div>

    <div class="dashboard-body">
        <div class="preview preview-workouts"></div>

        <div class="preview preview-bodyweights">
            <app-area-chart
                [data]="bodyweights"
                [seriesName]="'Bodyweight'"
                [titleText]="'Bodyweights in last 7 days'"
                [hasTitle]="true"
                [areaChartOptions]="bodyweightsChartsOptions"
            >
            </app-area-chart>
            <button class="btn-blue" (click)="modalService.showAddBodyweightModal()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>scale-bathroom</title><path d="M5,2H19A2,2 0 0,1 21,4V20A2,2 0 0,1 19,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2M12,4A4,4 0 0,0 8,8H11.26L10.85,5.23L12.9,8H16A4,4 0 0,0 12,4M5,10V20H19V10H5Z" /></svg>
                Add Bodyweight
            </button>
        </div>

        <div class="preview preview-measurements">

        </div>
        <div class="preview preview-recovery-logs"></div>
        <div class="preview preview-injury-logs"></div>
        <div class="preview preview-programs"></div>
        <div class="preview preview-challenges"></div>
        <div class="preview preview-achievements"></div>
    </div>
</div>