@if(sharedService.fromSignupSignal()){
<app-account-setup></app-account-setup>
}

<main>
    <section class="left-menu">
        <app-left-menu></app-left-menu>
    </section>

    <section class="body">
        <p-breadcrumb 
            [model]="sharedService.breadCrumbItemsSignal()"
            [home]="breadcrumbItemHome"
            >
        </p-breadcrumb>
        <router-outlet></router-outlet>
    </section>

    <section class="user-panel">
        <app-user-panel></app-user-panel>
    </section>
</main>