@import "../../../styles.scss";

main {
    @include flex(row, center, nowrap, start);
    width: 100%;

    .left-menu {
        @include size(16%, 100dvh);
        background-color: $yellow-hex;
        padding: 1.8rem 2rem;
    }

    .body {
        @include size(60%, 100dvh);
        @include flex(column, flex-start, nowrap, normal);
        max-height: 100dvh;
        overflow-y: auto;
        padding: 1.8rem 2rem;

        .body-sections {
            @include size(100%, 100%);
            padding-top: 1.8rem;
        }
    }

    .user-panel {
        @include size(24%, 100dvh);
    }
}

::ng-deep.p-menuitem-link {
    text-decoration: none;
}

::ng-deep.p-menuitem-icon.pi.pi-home {
    color: $dark-grey-hex;
    font-weight: 600;

    &:hover {
        color: $grey-hex;
    }
}