// PrimeNg

::ng-deep.p-input-icon-right > .p-icon-wrapper {
  margin-top: -0.5rem;
}

::ng-deep.p-password-panel {
  padding: 0.5rem 1.8rem;
}

::ng-deep.p-password {
  width: 100%;
}

::ng-deep.p-calendar {
  width: 100%;
}
