// PrimeNg

.p-input-icon-right > .p-icon-wrapper {
  margin-top: -0.5rem;
}

.p-password-panel {
  padding: 0.2rem 0.5rem;
}

.p-password {
  width: 100%;
}

.p-calendar {
  width: 100%;
}

.p-tooltip {
  padding-bottom: 8px;
  max-width: 350px;
  width: auto;
  overflow: hidden;
  white-space: normal;
}

.p-tooltip-text {
  padding: 0.5rem;
  width: auto;
  max-width: 350px;
  white-space: normal;
  text-align:  center;
}

.p-tooltip-arrow {
  margin-bottom: 2px;
}

.p-inputotp {
  margin-bottom: 2rem;
}

button.p-ripple.p-button {
  padding: 0.4rem 0.7rem;
  border-radius: $border-radius-6;
  border: none;
  font-size: 1em;
  cursor: pointer;
  background-color: $yellow-hex;

  &:hover {
    background-color: $light-yellow-hex;
  }
}

.p-button {
  padding: 0.4rem 0.7rem;
  border-radius: $border-radius-6;
  border: none;
  font-size: 1em;
  cursor: pointer;
  background-color: $blue-hex;

  &:hover {
    background-color: $light-blue-hex;
  }
}

p-button.btn-success {
  button.p-ripple.p-button {
    background-color: $teal-hex;

    &:hover {
      background-color: $light-teal-hex;
    }
  }
}

p-button.btn-back {
  button.p-ripple.p-button {
    background-color: $blue-hex;

    &:hover {
      background-color: $light-blue-hex;
    }
  }
}

.p-inputtext {
  padding: 0.4rem 0.7rem;
}

p-dropdown {
  width: 100%;
}

.p-dropdown {
  border-radius: $border-radius-6;
  border: none;
  font-size: 1em;
  width: 100%;
  margin-bottom: 1.5rem;

  &:not(.p-disabled).p-focus {
    outline: none;
    box-shadow: $box-shadow-input;
  }
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0.2rem;

  .p-dropdown-item {
    padding: 0.2rem 0.2rem;
  }
}

.p-dropdown-item {
  min-height: 30.38px;
}

.p-float-label label {
  top: 32%;
}

.p-float-label textarea ~ label {
  top: 10%;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: -0.6rem;
}

.p-fileupload-choose {
  margin-bottom: 1.5rem;
  width: 100%;
}

.p-tooltip-text {
  background-color: $red-hex;
}

.p-tooltip-arrow {
  border-top-color: $red-hex;
}

.p-breadcrumb {
  border: none;
  height: 2.4rem;
  align-content: center;
  padding: 0;
}

.p-menuitem-text {
  color: $dark-grey-hex;
  font-weight: 500;
  font-size: 1.2em;

  &:hover {
    color: $grey-hex;
  }
}

.p-overlay-badge .p-badge {
  font-size: 0.55em;
}

p-iconfield {
  width: 100%;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  min-height: 2.5rem;
  min-width: 2.5rem;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  border-radius: 50% !important;
  height: auto;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 50% !important;
}

//
// pi icons
//

.pi-times::before {
  font-size: 1em;
  cursor: pointer;
  color: $red-hex;
  float: right;
  margin-bottom: 0.2rem;
  position: absolute;
  top: -18px;
  right: 0;

  &:hover {
    color: $light-red-hex;
  }
}

.pi-plus-circle{
  font-size: 1.3em;
  cursor: pointer;
  color: $teal-hex;

  &:hover{
    color: $light-teal-hex;
  }
}