// Variable
$white-rgb: rgba(255, 255, 255, 1);
$white-hex: #ffffff;
$yellow-rgb: rgba(255, 193, 7, 1);
$yellow-hex: #ffc107;
$light-yellow-rgb: rgba(255, 213, 79, 1);
$light-yellow-hex: #ffd54f;
$dark-teal-rgb: rgba(26, 159, 122, 1);
$dark-teal-hex: #1a9f7a;
$teal-rgb: rgba(32, 201, 151, 1);
$teal-hex: #20c997;
$light-teal-rgb: rgba(93, 212, 177, 1);
$light-teal-hex: #5dd4b1;
$dark-grey-rgb: rgba(52, 58, 64, 1);
$dark-grey-hex: #343a40;
$grey-rgb: rgba(108, 117, 125, 1);
$grey-hex: #6c757d;
$light-grey-rgb: rgba(248, 249, 250, 1);
$light-grey-hex: #f8f9fa;
$light-grey-2-rgb: rgba(217, 217, 217, 1);
$light-grey-2-hex: #d9d9d9;
$dark-blue-rgb: rgba(0, 86, 179, 1);
$dark-blue-hex: #0056b3;
$blue-rgb: rgba(0, 123, 255, 1);
$blue-hex: #007bff;
$light-blue-rgb: rgba(102, 178, 255, 1);
$light-blue-hex: #66b2ff;
$dark-red-rgb: rgba(231, 59, 28, 1);
$dark-red-hex: #e73b1c;
$red-rgb: rgba(255, 99, 71, 1);
$red-hex: #ff6347;
$light-red-rgb: rgba(255, 143, 115, 1);
$light-red-hex: #ff8367;
$dark-orange-rgb: rgba(204, 138, 24, 1);
$dark-orange-hex: #cc8a18;
$orange-rgba: rgba(255, 172, 28, 1);
$orange-hex: #ffac1c;
$light-orange-rgb: rgba(255, 210, 74, 1);
$light-orange-hex: #ffd24a;

$border-radius-5: 5px;
$border-radius: 10px;
$border-radius-20: 20px;
$transition: all 0.2s ease-in-out;
$input-box-shadow: 0px 0px 3px 4px $yellow-hex;
$is-invalid-box-shadow: 0px 0px 3px 4px $red-hex;
