<div class="password-recovery-holder">
  @if(this.isChangePassword()){
  <h1>Change <span class="highlight-text-yellow">password</span></h1>
  <form [formGroup]="passwordChangeForm" (ngSubmit)="onPasswordChange()">
    <div class="form-row">
      <div class="form-items-group-row">
        <p-password
          placeholder="New Password"
          [toggleMask]="true"
          formControlName="password"
          pTooltip="Password is required, with proper password format."
          tooltipPosition="top"
          tooltipEvent="focus"
          [tooltipDisabled]="
            !(
              passwordChangeForm.get('password')?.touched &&
              passwordChangeForm.get('password')?.invalid
            )
          "
          [ngClass]="{
            'is-invalid':
              passwordChangeForm.get('password')?.invalid &&
              (passwordChangeForm.get('password')?.touched ||
                passwordChangeForm.get('password')?.dirty)
          }"
        >
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>Minimum 8 characters</li>
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>At least one special character</li>
            </ul>
          </ng-template>
        </p-password>
      </div>
    </div>
    <div class="form-row">
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        pTooltip="Confirmed Password is required."
        tooltipPosition="top"
        tooltipEvent="focus"
        [tooltipDisabled]="
          !(
            passwordChangeForm.get('confirmPassword')?.touched &&
            passwordChangeForm.get('confirmPassword')?.invalid
          )
        "
        [ngClass]="{
          'is-invalid':
            passwordChangeForm.get('confirmPassword')?.invalid &&
            (passwordChangeForm.get('confirmPassword')?.touched ||
              passwordChangeForm.get('confirmPassword')?.dirty)
        }"
      />
    </div>
    <div class="form-row">
      <input type="submit" value="Change" />
    </div>
  </form>
  } @else {
  <h1>Password <span class="highlight-text-yellow">recovery</span></h1>
  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onPasswordRecovery()">
    <div class="form-row">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username"
        formControlName="username"
        pTooltip="Username is required."
        tooltipPosition="top"
        tooltipEvent="focus"
        [tooltipDisabled]="
          !(
            passwordRecoveryForm.get('username')?.touched &&
            passwordRecoveryForm.get('username')?.invalid
          )
        "
        [ngClass]="{
          'is-invalid':
            passwordRecoveryForm.get('username')?.invalid &&
            (passwordRecoveryForm.get('username')?.touched ||
              passwordRecoveryForm.get('username')?.dirty)
        }"
      />
    </div>
    <div class="form-row">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        formControlName="email"
        pTooltip="Email is required with having 100 characters at most, with proper email format."
        tooltipPosition="top"
        tooltipEvent="focus"
        [tooltipDisabled]="
          !(
            passwordRecoveryForm.get('email')?.touched &&
            passwordRecoveryForm.get('email')?.invalid
          )
        "
        [ngClass]="{
          'is-invalid':
            passwordRecoveryForm.get('email')?.invalid &&
            (passwordRecoveryForm.get('email')?.touched ||
              passwordRecoveryForm.get('email')?.dirty)
        }"
      />
    </div>
    <div class="form-row">
      <input type="submit" value="Send Code" />
      <a (click)="onBackToSignin()">Back to Sign in</a>
    </div>
  </form>
  }
</div>
