@import "../../../../styles.scss";

div.password-recovery-holder {
  @include size(60%, 70dvh);
  text-align: center;
  margin: 10rem auto 0;

  h1 {
    margin-bottom: 3rem;
    font-size: 2em;
  }

  form {
    @include flex(column, space-between, nowrap, center);
    @include size(100%, auto);

    div.form-row {
      width: 100%;

      .form-items-group-row {
        @include flex(row, space-between, nowrap, center);
      }

      [type="text"],
      [type="password"],
      p-password {
        width: 100%;
      }

      p-password {
        text-align: start;
      }

      button.btn-yellow {
        width: 30%;
        margin-top: 2rem;
        margin-bottom: 0.8rem;
      }

      &:nth-child(1) {
        margin-bottom: 1.5rem;
      }

      &:nth-child(3) {
        @include flex(column, center, nowrap, center);
      }
    }
  }
}

::ng-deep.p-tooltip-text {
  background-color: $red-hex;
}

::ng-deep.p-tooltip-arrow {
  border-top-color: $red-hex;
}
