@import '../../../../styles.scss';

.wrapper {
    padding: 1.8rem 2rem;

    .left-menu-header {
        @include flex(row, start, wrap, center);

        .logo-icon {
            @include flex(row, center, nowrap, center);
            @include size(2.4rem, 2.4rem);
            border-radius: $border-radius;
            background-color: $blue-hex;
            padding: 0.5rem;
            
            svg {
                @include size(1.8rem, 1.8rem);
                filter: brightness(0) invert(1);
            }
        }

        .logo-text {
            h1 {
                font-size: 1.4em;
                font-weight: bold;
                margin: 0 0 0 0.3rem;
            }
        }
    }

    .left-menu-body {
        padding: 1.8rem 0;

        nav {
            ul {
                list-style-type: none;
                
                li {
                    @include flex(row, start, nowrap, center);
                    padding: 0.3rem 0.6rem;
                    font-weight: bold;
                    font-size: 1.2em;
                    margin-top: 0.6rem;
                    cursor: pointer;
                    position: relative;
                    width: 92%;

                    &:hover {
                        background-color: $light-blue-hex;
                        color: $white-hex;

                        svg {
                            filter: brightness(0) invert(1);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: -29.5px;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 18px 0 20px 30px;
                            border-color: transparent transparent transparent $light-blue-hex; 
                        }
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    svg {
                        @include size(1.8rem, 1.8rem);
                        margin-right: 0.4rem;
                    }
                }
            }
        }
    }
}

.active-link {
    background-color: $light-blue-hex;
    color: $white-hex;

    svg {
        filter: brightness(0) invert(1);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -29.5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 18px 0 20px 30px;
        border-color: transparent transparent transparent $light-blue-hex; 
    }
}