<div class="my-backdrop"></div>
<section class="my-modal xs">
    <div class="my-modal-header">
        <h3>Add Bodyweight</h3>
        <i class="pi pi-times-circle" (click)="closeModal()"></i>
    </div>

    <div class="my-modal-body">
        <form [formGroup]="form">
          <span class="p-float-label" style="width: 47%">
            <p-calendar
              inputId="weight-log-date"
              formControlName="logDate"
              dateFormat="dd.mm.yy"
              appendTo="body"  
            ></p-calendar>
            <label for="weight-log-date">
              Start<app-required-mark/>
            </label>
          </span>

          <div class="form-row d-flex justify-content-between">
            <span class="p-float-label">
              <input
                type="number"
                id="weight"
                pInputText
                formControlName="weight"
                pTooltip="Weight must be in range from 20 to 1000"
                tooltipPosition="top"
                tooltipEvent="focus"
                [tooltipDisabled]="
                  !(
                    form.get('weight')?.touched &&
                    form.get('weight')?.invalid
                  )
                "
                [ngClass]="{
                  'is-invalid':
                    form.get('weight')?.invalid &&
                    (form.get('weight')?.touched || form.get('weight')?.dirty)
                }"
              />
              <label for="rForearm">Weight</label>
            </span>
            <span class="p-float-label">
              <p-dropdown
                inputId="weight-unit"
                [options]="weightUnits"
                optionLabel="description"
                optionValue="id"
                formControlName="weightUnitId"
                [appDropdownReset]="0"
              />
              <label for="weight-unit">
                Unit<app-required-mark/>
              </label>
            </span>
          </div>

          <span class="p-float-label">
            <input
              type="number"
              id="bodyfat"
              pInputText
              formControlName="bodyFatPercentage"
              pTooltip="Bodyfat must be in range from 1 to 100"
              tooltipPosition="top"
              tooltipEvent="focus"
              [tooltipDisabled]="
                !(
                  form.get('bodyFatPercentage')?.touched &&
                  form.get('bodyFatPercentage')?.invalid
                )
              "
              [ngClass]="{
                'is-invalid':
                  form.get('bodyFatPercentage')?.invalid &&
                  (form.get('bodyFatPercentage')?.touched || form.get('bodyFatPercentage')?.dirty)
              }"
            />
            <label for="bodyfat">Bodyfat Percentage</label>
          </span>
        </form>
    </div>

    <div class="my-modal-footer">
        <button class="btn-blue" (click)="addBodyweight()">
          @if (loaderService.sectionLoaderSignal()) {
            <app-section-loader/>
          }
          @else {
            Add Bodyweight
          }
        </button>
        <button class="btn-grey" (click)="closeModal()">Close</button>
    </div>
</section>