@import "../../../../styles.scss";

div.sign-up-holder {
  @include size(80%, 70dvh);
  text-align: center;
  margin: 3rem auto 0;

  h1 {
    margin-bottom: 3rem;
    font-size: 2em;
  }

  form {
    @include flex(column, space-between, nowrap, center);
    @include size(100%, auto);

    div.form-row {
      width: 100%;

      .form-items-group-row {
        @include flex(row, space-between, nowrap, center);
      }

      .form-items-group-column {
        @include flex(column, center, nowrap, center);
      }

      p-password {
        text-align: start;
      }

      p-inputMask,
      p-calendar,
      p-password,
      input {
        margin-bottom: 1.5rem;
      }

      [type="text"]#fName,
      [type="text"]#mName,
      [type="text"]#lName {
        width: 30%;
      }

      [type="email"],
      [type="text"]#username {
        width: 100%;
      }

      [type="password"],
      p-inputMask,
      p-calendar,
      p-password {
        width: 47%;
      }

      button.btn-yellow,
      a.already-have-acc-msg,
      p {
        margin-bottom: 0.8rem;
      }

      button.btn-yellow {
        width: 25%;
        margin-top: 2rem;
      }

      p {
        font-size: 1.1em;
        margin-top: 1rem;
      }
    }
  }
}
